################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FhirServer/bin/Debug
/.vs/Teams.Integration.Fhir/v15
/FhirServer/obj/Debug
/FhirServer/specification.zip
/packages
/Hl7.Fhir.WebApi/bin/Debug
/Hl7.Fhir.WebApi/obj/Debug
/Teams.Integration.Fhir.Services/bin/Debug
/Teams.Integration.Fhir.Services/obj/Debug
/Teams.Integration.Fhir.FhirServer/bin/Debug
/Teams.Integration.Fhir.FhirServer/obj/Debug
/.vs/Teams.Integration.Fhir/v16
/.vs
/Debug
/Hl7.Fhir.WebApi/bin/Release
/Hl7.Fhir.WebApi/obj/Release
/Partner.Data.Integration/bin
/Partner.Data.Integration/obj
/Teams.Integration.Fhir.Auth/bin
/Teams.Integration.Fhir.Auth/logs
/Teams.Integration.Fhir.Auth/obj
/Teams.Integration.Fhir.FhirServer/obj/Release
/Teams.Integration.Fhir.FhirServerWeb/bin
/Teams.Integration.Fhir.FhirServerWeb/obj
/Teams.Integration.Fhir.Services/bin/Release
/Teams.Integration.Fhir.Services/obj/Release
/TestAuthConsole
/InsertRawHL7.sql
